.comlist
    display block

.btn-name{
	color:#22419e;
	width:30%;
	text-align:center;
}

.comlist6 .t-group-list{
	background-color:#f7f7f7;
	border-bottom:0px;
}

.comlist6 .t-group-list-item{
	background-color:#fff;
}

.comlist6 .imgBox{
	width:100%;
}

.comlist6 .imgUrl{
	width:100%;
	height:150px;
}