.chatbottom{
	display	: block;
	position:fixed;
	left:0px;
	right:0px;
	bottom:0px;
	margin: 0 auto;
	height:50px;
	border-top:1px solid #ccc;
	box-shadow:0 0 4px 0 #999;
    background-color: aliceblue;
}
    

.t-msg{
	border-bottom: 1px solid #22419e;
    line-height: 30px;
    height: 30px;
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 10px;
}