.pictext{
    display:block;
    border: 1px solid #d7dedb;
    background-color: #fdfdfd;
}

.wp-pictext{
    background-color: #ddd;
    margin-bottom: 10px;
    height: 140px;
    background-image: url(https://gw.alicdn.com/tps/TB1HMQVJpXXXXbZXpXXXXXXXXXX-640-340.jpg);
    background-size: 320px 140px;
}

.wp-pictext-title{
	background-color: #ddd;
    -moz-opacity:0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}

.wp-pictext2{
	width:100%;
	border-top: 1px solid #d7dedb;
}
.wp-pictext-left{
	width:80%;
}
.wp-pictext-right{
	text-align:right;
	width:20%;
}

.wp-pic{
	width:100%;
	max-height:300px;
	min-height:80px;
}


.wp-content{
	color:#777272;
	font-size:12px;
}