.comsearch{
   display: block;
}

.comsearch1 .t-search-bar-wrapper{
   background-color: #fc6b23;
}
 

.comsearch1 .t-search-bar-holder-wrapper, .comsearch1 .t-search-bar-input[type=search]{
	text-align: -webkit-left;
	text-align: left;
	background-color:#e8491b;
}