//覆盖钉钉
.t-button {
 	height:30px;
} 	

.t-field-layout-h-label{
	width:110px;
}

.a-link input.t-text-field-input{
	color: blue;
}

.readonly .t-text-field-input, .readonly .t-textarea-field-content, .t-select-field-readonly, .t-datetime-field-readonly{
	color: #6c6c6c;
}

.t-grid, .t-grid-row, .t-grid-item, .t-grid-item+.t-grid-item{
	border: 0px;
}

.t-grid{
	padding-top: 1px;
}

.comgrid{
	background-color: #FFF;
}

.t-LH60{
	line-height:60px;
}

.t-LH40{
	line-height:40px;
}

.t-LH30{
	line-height:30px;
}

.t-LH25{
	line-height:25px;
}

.t-LH20{
	line-height:20px;
}

.t-LH18{	
	line-height:18px;
}

.t-LH15{
	line-height:15px;
}


.t-PB50{
	padding-bottom:50px;
}

//自定义样式
body, section, ul, p, figure{
	padding: 0;
	margin: 0;
}

.bg {
	background: #f8f8f8;
}
	
.dp-fx {
    display: flex;
}

.btn-20{
	flex:1;
	margin:0px 5px;
}

.btn-30{
	flex:2;
	margin:0px 5px;
}
    
.scrollpage{
	height:100%;
	border:0px solid;
	font-size:12px;
}

.dis-none{
   display:none;
}

.btn-del{
	text-align:right;
	color:blue;
	margin-bottom:5px;
}

.addbtn{
	padding:2px 15px;
	font-size:15px;
	text-align:center;
	color:blue;
}

.loadMore{
	line-height:35px;
	height:35px;
	font-size:14px;
	text-align:center;
}

.scroll-auto{
	width:100%; 
	height:100%; 
	overflow:auto; 
	border:0px solid #000000;
}

.t-MA{
	margin:auto;
}

.notes{
   padding: 5px 15px; 
   line-height: 25px;
   font-size:12px;
   color:gray;
}

.screen-popup{
    top:0px;
    left:0px;
    z-index:20;
    width:100%;
    height:100%;
    background:#fff;
    display:none;
}
    
.screen-popup-bottom{
	bottom:0px;
	left:0px;
	width:100%;
}
	
.screen-popup-text{
	top:0px;
	width:100%;
	bottom:44px;
}

