.moments{
   display block
}
 
.wrapper{
  background-color: #ddd;
  margin-bottom: 10px;
  height: 200px;
  background-image: url("https://gw.alicdn.com/tps/TB1HMQVJpXXXXbZXpXXXXXXXXXX-640-340.jpg");
  background-size:320px 200px;
}
.box1, .box2, .box4{
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-size:16px;
}
.box1{
  background-color: #f8f8f8;
  width: 86px;
  height: 86px;
  margin-bottom:-30px;
  margin-right:12px
  border:1px solid #999999;
  padding:2px;
}
.box2{
  //background-color: #f2a21c;
  padding-right:8px;
  padding-left:8px;
  font-weight:bold;
}

.moment-wp{
  	min-height: 80px;
}

.t-border{
	border-bottom: 1px solid #c7c7c7;
}

.moment-right{

}

.moment-name{
	color:#22419e;
}

.moment-content{
	
}
.moment-date{
	font-size:11px;
	color:#777777;
}

.moment-share{
	font-size:12px;
	background-color: #ddd;
}
